<h1>New Post</h1>
<%= form_for @post do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <br>

  <%= form.label :content %>
  <%= form.text_area :content %>
  <br>

  <%= form.label :categories %>:<br>
  <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  <br>
  <%= form.fields_for :categories do |categories_builder| %>
    <% categories_builder.text_field :name %>
  <% end %>
  <br>

  <%= form.submit %>
<% end %>
